<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Admin</title>

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .small1 {
            text-align: center;
            color: red;
        }
        .sesi{
            text-align: center;
            color: red;
            margin-top: -3.2%;
        }

        small {
            font-size: medium;
        }
        body {
            background-color: #4c71dd;
        }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-lg-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg">
                                <div class="p-5">
                                    <p class="sesi">Session telah habis silahkan login kembali!!
                                    </p>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Blog Admin</h1>
                                    </div>
                                    <form class="user" method="POST" id="login-admin" action="/loginadmin">
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Username..." required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password" required>
                                        </div>
                                        <div class="small1">
                                            <small>Password anda salah</small>
                                        </div>


                                        <button type="submit"
                                            class="btn btn-primary btn-user mt-3 btn-block mb-0">
                                            Login
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('small').html('');
            $('.sesi').html('');
        });
        
        $("#login-admin").submit(function(event){
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            if (username != "admin" && password != "rahasia") {
                $('small').html('Password dan username salah');
                event.preventDefault()
            } else if (username == "admin" && password != "rahasia") {
                $('small').html('Password salah');
                event.preventDefault()
            } else if (username != "admin" && password == "rahasia") {
                $('small').html('Username salah');
                event.preventDefault()
            }
        })
    </script>

</body>

</html>